@import "../_/_global.scss";
  
  
/* orders table */
.table{min-width:760px;}
.list-icon{color:#9b9b9b;font-size:32px;margin-left:32px;cursor:pointer;}
.list-icon.remove-order:before{color:#ff0079!important;}
.list-icon.set-home:before{color:#9b9b9b!important;}
.edit-page:before{color:#9b9b9b!important;}
.list-icon.chm:before{color:#1941DF!important;}
.last{text-align:right;}
.timgc img{border-radius:unset!important;object-fit: fill;}
.details{max-width:250px;min-width:250px;}
@media (max-width: 577px){

  .table{min-width:500px;}
}
.view-order{cursor:pointer;}

/* table filtering */
.st-opts{
  display: inline-block;
}

.dropdown-item{
  padding: 8px 24px;
}

.inp{
  margin-top:0px;
  margin-left:16px;
  border-radius: 4px; 
  padding: .74rem 1.375rem;
  border:0;
  background: transparent;
}

/* order preview mode */
.modal-header{border-bottom: 0;}
.modal-footer{border-top: 0;}
.product_body{display: block;}
.mloader{display: none;}
table.list td{font-size:24px;}

table.items  {
    width:100%;display:table;font-size: 0.9rem;
   td{vertical-align:top;}
   .qty{text-align:right; max-width:100px;}
   .edit-qty{text-align:right; max-width:150px;}
   .tp{text-align:right; max-width:100px;}
   .edit-tp{text-align:right; max-width:250px;}
   .vars{font-style: italic;padding-left: 8px;margin-left:4px;margin-top:4px;font-size: 0.8rem;border-left: 2px solid #ff0079;}
   .vars:empty{display:none;}
   .order-item-options{cursor:pointer;}
   .add-item{cursor:pointer;}
   .s-list { position: absolute; margin-left: -5px; padding: 5px 0;   background: white; list-style : none; cursor: pointer; }
   .s-list li{padding: 8px 16px; }
   .s-list li:hover { color : white; background-color : #1941DF }
   .s-list li.current { color : white; background-color : pink }
  
  /* order preview mode/suggestions */
  [data-toggle="false"].s-list { display : none }
}


@media (max-width: 500px) { 
  input#usearch{
    margin-top:16px;
    margin-left:0px;
  }
  .st-opts{
    display: block;
  }
}

.elipsized{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-dialog-wide{
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    border: 0;
    background: #fff;
}
  
.modal-dialog-wide .modal-content{
    width: 100%;
    margin: auto;
    max-width: 840px;
    border: 0;
    background: #fff;
}

.modal-dialog-wide .modal-header{
    border:0;
}